#table {
  background-image: "Table.png"
}
#hand {
  padding: none;
  margin: none;
}
#hand section{
  padding: 2%;
}
header{
  margin: 0 auto;
  padding: none;
  height: 11%;
}
footer{
  margin: 0 auto;
  padding: none;
  height: 20%;
}
footer section{
  padding: none;
  margin: none;
}
