body {
  background-image: url(Table.png);
height: 100vh;
background-size: cover;
}

#player1 {position: relative;
text-align: center;
top: 35vh;
margin: 0 auto;}

#player1 section {
background-color: white;
color: red;
display: inline-block;
text-align: center;
height: 10%;
width: 7%;}

header{
position: fixed;
top: 0;
left: 25%;
  padding: none;
  height: 7%;
width: 50%;
  text-align: center;
  color: gold;
background-color: black;
}

img{
position: absolute;
left: 20%;
top:25%;
margin: 0 auto;
height: 19%;
width: 10%;
}

footer{

background-color: black;
color: gold;
left:10%;
position:fixed;
bottom:0;
width:80%;
  text-align: center;
  padding: none;
  height: 19%;
}

footer section{
  padding: none;
  margin: none;
}
